* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  /* border: 1px solid white; */
}

.userAccountsButton {
  padding: 10px 20px 10px 20px;
  border: 2px solid #1f2937;
  font-size: 20px;
  color: #1f2937;
  margin: 20px;
  background: none;
}

.userAccountsButton:hover {
  padding: 10px 20px 10px 20px;
  border: none;
  font-size: 20px;
  color: #f9faf8;
  background-color: #1f2937;
  border: 2px solid #1f2937;
}

.kontena {
  width: 300px;
  height: 100px;
}
#demo {
  margin: 20px;
}
